<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/contacto.css">
</head>

<body>

    <header id="inicio">
        <nav class="menu">
            <div class="logo">
                <a href="#">
                        <img src="../assets/images/pc-componentes/logo-pccomponentes.jpg" alt="logo de PcComponentes">
                </a>
            </div>

            <div class="lista-header">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#" class="color-principal">Contacto</a></li>
                    <li><a href="../views/galeria.html">Galeria</a></li>
                    <li><a href="../index.html#section-4">Sorteo</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

    <div id="mapa1">
        <div>
            <h1> Sede principal </h1>
        </div>
    
        <!--Div que contendrá el mapa con la ubicación de nuestra empresa-->
        <div id="mapa">

        </div>

        <br>
        <div id="direccion_contacto">
            <h2>Si necesita desea contactar con nosotros</h2>
            <br>
            <p class="parrafo_ventana"> Dirección: <span class="parrafo_ventana_2"> Polígono Industrial Las Salinas, Avenida Europa, 2-3, 30840, Murcia </span></p>
            <p class="parrafo_ventana"> Horarios:</p>
                <ul id="lista_horario">
                    <li>Lunes 9:00–21:00</li>
                    <li>Martes 9:00–21:00</li>
                    <li>Miércoles 9:00–21:00</li>
                    <li>Jueves 9:00–21:00</li>
                    <li>Viernes 9:00–21:00</li>
                    <li>Sábado 9:00–21:00</li>
                    <li>Domingo Cerrado</li>
                </ul>
            <p class="parrafo_ventana"> Teléfono: <span class="parrafo_ventana_2"> 868268070 </span></p>
            <p class="parrafo_ventana"> Dirección web: <a href="https://www.pccomponentes.com/">pccomponentes.com</a></p>
            <p class="parrafo_ventana"> E-mal: <span class="parrafo_ventana_2"> atencionalcliente@pccomponentes.com </span></p>
        </div>
    </div>

    <div id="div_ruta">
        <h1 id="titulo_mapa2"> Ruta a seguir hasta nuestra sede principal:  </h1>

        <p id="parrafo_ruta"> La ruta se calcula desde su posición actual "A" hasta nuestras oficinas "B"</p>

    </div>

    <div id="mapa2">

        <div id="mapa_rutas"> </div>

        <div id="indicaciones"> </div> 
        
    </div>

    </main>

    <br><br><br><br><br><br><br><br>
    

    <!--Footer de la página-->
    <footer>
        <div class="footer">

        <p>©PC Componentes y Multimedia SLU CIF B73347494. Todos los derechos reservados. Todas las marcas registradas pertenecen a sus respectivos dueños en España y otros países. <br>
        Todos los precios incluyen IVA. <br>
        ----------------------------------------------------------------------------------------------------------------------------------------------------<br>
        Polígono Industrial Las Salinas, Avenida Europa, 2-3, 30840, Murcia <br>
        ----------------------------------------------------------------------------------------------------------------------------------------------------<br>
        REDES SOCIALES</p>
        </div>
    </footer>

    <!--Este Scrip tiene que ir siempre antes del archivo js de nuestra página-->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYWnYbWWB1XBAo8R5QlrOYUkTAC3NPYus&callback=initMap"></script>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_SOO_oyN92qvVwIGJXQRNoNMUQ-PgTlg&callback=initMap"></script>

    <script src="../js/contacto.js"></script>
</body>
</html>