<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/galeria.css">

    <!--Css del lightbox-->
    <link href="../css/lightbox.min.css" rel="stylesheet">
</head>

<body>

    <header id="inicio">
        <nav class="menu">
            <div class="logo">
                <a href="#">
                        <img src="../assets/images/pc-componentes/logo-pccomponentes.jpg" alt="logo de PcComponentes">
                </a>
            </div>

            <div class="lista-header">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                    <li><a href="../views/galeria.html"  class="color-principal">Galeria</a></li>
                    <li><a href="../index.html#section-4">Sorteo</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

    <div id="galerias">

        <div class="titulo">
            <h1> NUESTROS PRODUCTOS</h1>
        </div>
       
        <div class="tabla-galerias">
            <table>
                <tr>
                    <th colspan="5"> PC SOBREMESA GAMING</th>
                </tr>

                <tr>
                    <td>
                        <a href="../assets/images/pcs/pc_1.png" data-lightbox="galeria_1" data-title="PcCom Gold Élite Intel Core i5-11400F/16GB/500GBSSD/RTX3060">
                            <img class="image" src="../assets/images/pcs/pc_1.png" alt="PcCom Gold Élite"></a>
                    </td>
                    <td>
                        <a href="../assets/images/pcs/pc_2.png" data-lightbox="galeria_1" data-title="PcCom Bronze AMD Ryzen 5 5600G/16GB/500GB SSD">
                            <img class="image" src="../assets/images/pcs/pc_2.png" alt="PcCom Bronze"></a>
                    </td>
                    <td>
                        <a href="../assets/images/pcs/pc_3.png" data-lightbox="galeria_1" data-title="HP OMEN 40L GT21-0032ns AMD Ryzen 7 5800X/16GB/1TB SSD/RTX 3070Ti">
                            <img class="image" src="../assets/images/pcs/pc_3.png" alt="HP OMEN 40L"></a>
                    </td>
                    <td>
                        <a href="../assets/images/pcs/pc_4.png" data-lightbox="galeria_1" data-title="PcVIP Effect AMD Ryzen 5 5600G/16GB/1TB+500GB SSD">
                            <img class="image" src="../assets/images/pcs/pc_4.png" alt="PcVIP Effect"></a>
                    </td>
                    <td>
                        <a href="../assets/images/pcs/pc_5.png" data-lightbox="galeria_1" data-title="Epical-Q Tracker 4 Whitehawk Intel Core i5-11400F/32GB/1TB+500GB SSD/RTX 3060">
                            <img class="image" src="../assets/images/pcs/pc_5.png" alt="Epical-Q Tracker 4"></a>
                    </td>
                </tr>

                <tr>
                    <td>PcCom Gold Élite</td>
                    <td>PcCom Bronze</td>
                    <td>HP OMEN 40L</td>
                    <td>PcVIP Effect</td>
                    <td>Epical-Q Tracker 4</td>
                </tr>
                

                <tr>
                    <th colspan="5"> PORTÁTILES </th>
                </tr>

                <tr>
                    <td>
                        <a href="../assets/images/portatiles/portatil_1.png" data-lightbox="galeria_2" data-title="HP 15S-fq2159ns Intel Core i3-1115G4/8GB/256GB SSD/15.6''">
                            <img class="image" src="../assets/images/portatiles/portatil_1.png" alt="HP 15S-fq2159ns"></a>
                    </td>
                    <td>
                        <a href="../assets/images/portatiles/portatil_2.png" data-lightbox="galeria_2" data-title="HP Victus 16-e1015ns AMD Ryzen 7 6800H/16GB/512GB SSD/RTX 3050/16.1''">
                            <img class="image" src="../assets/images/portatiles/portatil_2.png" alt="HP Victus 16-e1015ns"></a>
                    </td>
                    <td>
                        <a href="../assets/images/portatiles/portatil_3.png" data-lightbox="galeria_2" data-title="Lenovo IdeaPad 3 15ITL6 Intel Core i7-1165G7/16 GB/512GB SSD/15.6''">
                            <img class="image" src="../assets/images/portatiles/portatil_3.png" alt="Lenovo IdeaPad 3"></a>
                    </td>
                    <td>
                        <a href="../assets/images/portatiles/portatil_4.png" data-lightbox="galeria_2" data-title="ASUS VivoBook 15 F515JA-EJ2882W Intel Core i7-1065G7/8GB/512GB SSD/15.6''">
                            <img class="image" src="../assets/images/portatiles/portatil_4.png" alt="ASUS VivoBook 15"></a>
                    </td>
                    <td>
                        <a href="../assets/images/portatiles/portatil_5.png" data-lightbox="galeria_2" data-title="Acer Predator Helios 300 PH315-55-79BN Intel Core i7-12700H/32GB/1TB SSD/RTX3070/15.6''">
                            <img class="image" src="../assets/images/portatiles/portatil_5.png" alt="Acer Predator Helios 300"></a>
                    </td>
                </tr>

                <tr>
                    <td>HP 15S-fq2159ns</td>
                    <td>HP Victus 16-e1015ns</td>
                    <td>Lenovo IdeaPad 3</td>
                    <td>ASUS VivoBook 15</td>
                    <td>Acer Predator Helios 300</td>
                </tr>

                <tr>
                    <th colspan="5"> SMARTPHONES </th>
                </tr>

                <tr>
                    <td>
                        <a href="../assets/images/smartphones/smartphone_1.jpg" data-lightbox="galeria_3" data-title="Apple iPhone 14 Pro Max 256GB Morado Oscuro Libre">
                            <img class="image" src="../assets/images/smartphones/smartphone_1.jpg" alt="Apple iPhone 14 Pro Max"></a>
                    </td>
                    <td>
                        <a href="../assets/images/smartphones/smartphone_2.jpg" data-lightbox="galeria_3" data-title="Apple iPhone 13 256GB Rosa Libre">
                            <img class="image" src="../assets/images/smartphones/smartphone_2.jpg" alt="Apple iPhone 13"></a>
                    </td>
                    <td>
                        <a href="../assets/images/smartphones/smartphone_3.jpg" data-lightbox="galeria_3" data-title="Xiaomi Redmi A1 2/32GB Negro Libre + Cable USB-C a Jack">
                            <img class="image" src="../assets/images/smartphones/smartphone_3.jpg" alt="Xiaomi Redmi A1"></a>
                    </td>
                    <td>
                        <a href="../assets/images/smartphones/smartphone_4.jpg" data-lightbox="galeria_3" data-title="Samsung Galaxy S23 256GB Algodón Libre + Cargador 25W">
                            <img class="image" src="../assets/images/smartphones/smartphone_4.jpg" alt="Samsung Galaxy S23"></a>
                    </td>
                    <td>
                        <a href="../assets/images/smartphones/smartphone_5.jpg" data-lightbox="galeria_3" data-title="Samsung Galaxy M23 5G 4/128GB Verde Libre">
                            <img class="image" src="../assets/images/smartphones/smartphone_5.jpg" alt="Samsung Galaxy M23"></a>
                    </td>
                </tr>

                <tr>
                    <td>Apple iPhone 14 Pro Max</td>
                    <td>Apple iPhone 13</td>
                    <td>Xiaomi Redmi A1</td>
                    <td>Samsung Galaxy S23</td>
                    <td>Samsung Galaxy M23</td>
                </tr>

                <tr>
                    <th colspan="5"> MONITORES </th>
                </tr>

                <tr>
                    <td>
                        <a href="../assets/images/monitores/monitor_1.png" data-lightbox="galeria_4" data-title="AOC 24B2XDAM 23.8'' LED FullHD">
                            <img class="image" src="../assets/images/monitores/monitor_1.png" alt="AOC 24B2XDAM"></a>
                    </td>
                    <td>
                        <a href="../assets/images/monitores/monitor_2.png" data-lightbox="galeria_4" data-title="HP X27 23'' LED IPS FullHD 165Hz FreeSync Premium">
                            <img class="image" src="../assets/images/monitores/monitor_2.png" alt="HP X27"></a>
                    </td>
                    <td>
                        <a href="../assets/images/monitores/monitor_3.png" data-lightbox="galeria_4" data-title="Newskill Icarus IC27Q4-V2P 27'' LED QHD 144Hz G-Sync Compatible Curva">
                            <img class="image" src="../assets/images/monitores/monitor_3.png" alt="Newskill Icarus IC27Q4-V2P"></a>
                    </td>
                    <td>
                        <a href="../assets/images/monitores/monitor_4.png" data-lightbox="galeria_4" data-title="HP X24c 23.6'' LED FullHD 144Hz FreeSync Curvo">
                            <img class="image" src="../assets/images/monitores/monitor_4.png" alt="HP X24c"></a>
                    </td>
                    <td>
                        <a href="../assets/images/monitores/monitor_5.png" data-lightbox="galeria_4" data-title="LG Ultragear 24GQ50F-B 24'' LED FullHD 165Hz FreeSync Premium">
                            <img class="image" src="../assets/images/monitores/monitor_5.png" alt="LG Ultragear 24GQ50F-B"></a>
                    </td>
                </tr>

                <tr>
                    <td>AOC 24B2XDAM</td>
                    <td>HP X27 </td>
                    <td>Newskill Icarus IC27Q4-V2P</td>
                    <td>HP X24c </td>
                    <td>LG Ultragear 24GQ50F-B </td>
                </tr>

                <tr>
                    <th colspan="5"> AURICULARES </th>
                </tr>

                <tr>
                    <td>
                        <a href="../assets/images/auriculares/auriculares_1.jpg" data-lightbox="galeria_5" data-title="Scorpion MA-HG9015 Auriculares Gaming 7.1 Verdes">
                            <img class="image" src="../assets/images/auriculares/auriculares_1.jpg" alt="Scorpion MA-HG9015"></a>
                    </td>
                    <td>
                        <a href="../assets/images/auriculares/auriculares_2.jpg" data-lightbox="galeria_5" data-title="Vertux Miami Auriculares Gaming 7.1 RGB Verde">
                            <img class="image" src="../assets/images/auriculares/auriculares_2.jpg" alt="Vertux Miami"></a>
                    </td>
                    <td>
                        <a href="../assets/images/auriculares/auriculares_3.jpg" data-lightbox="galeria_5" data-title="Abysm Gaming AG700 Pro 7.1 Auriculares Gaming Blanco/Azul">
                            <img class="image" src="../assets/images/auriculares/auriculares_3.jpg" alt="Abysm Gaming AG700 Pro"></a>
                    </td>
                    <td>
                        <a href="../assets/images/auriculares/auriculares_4.jpg" data-lightbox="galeria_5" data-title="Klack Inkpod Auriculares Inalámbricos Azul Cielo">
                            <img class="image" src="../assets/images/auriculares/auriculares_4.jpg" alt="Klack Inkpod"></a>
                    </td>
                    <td>
                        <a href="../assets/images/auriculares/auriculares_5.jpg" data-lightbox="galeria_5" data-title="Hori Auriculares Gaming Pro para Nintendo Switch">
                            <img class="image" src="../assets/images/auriculares/auriculares_5.jpg" alt="Hori Auriculares Gaming"></a>
                    </td>
                </tr>

                <tr>
                    <td>Scorpion MA-HG9015</td>
                    <td>Vertux Miami</td>
                    <td>Abysm Gaming AG700 Pro</td>
                    <td>Klack Inkpod</td>
                    <td>Hori Auriculares Gaming</td>
                </tr>
            
            </table>
        </div>
    </div>
    
    </main>

    <br><br><br><br><br><br><br><br>
    

    <!--Footer de la página-->
    <footer>
        <div class="footer">

        <p>©PC Componentes y Multimedia SLU CIF B73347494. Todos los derechos reservados. Todas las marcas registradas pertenecen a sus respectivos dueños en España y otros países. <br>
        Todos los precios incluyen IVA. <br>
        ----------------------------------------------------------------------------------------------------------------------------------------------------<br>
        Polígono Industrial Las Salinas, Avenida Europa, 2-3, 30840, Murcia <br>
        ----------------------------------------------------------------------------------------------------------------------------------------------------<br>
        REDES SOCIALES</p>
        </div>
    </footer>

    <script src="../js/lightbox-plus-jquery.min.js"></script>
    <!--Este script SIEMPRE van despues de cargar el jquery y lightbox, ya que si estuviera antes no funcionaria, ya que no encontraria el lightbox al que hace referencia-->
    <script src="../js/galeria.js"></script>
</body>
</html>